@charset "UTF-8";
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.1rem;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  line-height: 1.6; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 800;
    line-height: 1.2; }
  body h1 {
    font-size: 2.8rem; }

.sidebar {
  background-color: #f8f5f0;
  padding-top: 2rem;
  border-top: 1px solid #ece6da;
  text-align: center; }
  @media (min-width: 768px) {
    .sidebar {
      border-left: 1px solid #ece6da;
      border-top: none; } }
  .sidebar .intro .image {
    display: none; }
    @media (min-width: 768px) {
      .sidebar .intro .image {
        margin: 30px;
        margin-top: 0;
        display: block; } }
  .sidebar .intro h1 {
    font-size: 1.6rem; }
  .sidebar .nav {
    list-style: none;
    padding-left: 0px; }
    .sidebar .nav li {
      margin: none;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400; }
  .sidebar .attribution {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.85rem;
    color: #b8a275; }
    .sidebar .attribution a {
      color: #b8a275;
      text-decoration: underline; }

.content {
  padding-top: 2rem; }
  .content img {
    max-width: 100%;
    height: auto; }
  .content blockquote {
    border-left: 5px solid #ece6da;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block; }
  .content .featured-post-list a {
    display: inline-block;
    border-radius: 5px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-top: 16rem;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: #fff;
    text-align: center; }
    .content .featured-post-list a .featured {
      text-transform: uppercase;
      font-size: 0.9rem;
      margin-bottom: 1rem; }
    .content .featured-post-list a .featured-headline  {
      font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif !important;
      font-size: 4rem !important;
      font-weight: 300 !important; }
    .content .featured-post-list a:hover {
      text-decoration: none;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .content .read-more {
    border: 1px solid #ece6da;
    padding: 10px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    .content .read-more:hover {
      text-decoration: none;
      background-color: #f7f7f9; }
  .content article {
    margin-bottom: 3rem; }
    .content article h1 {
      font-size: 2rem; }
      .content article h1 a {
        color: #000; }
        .content article h1 a:hover {
          text-decoration: none; }

p {
  margin-bottom: 2rem; }

.pagination {
  border-top: 1px solid #ece6da;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.newsletter .content {
  text-align: center; }
  .newsletter .content h1 {
    font-size: 3em; }

.card {
  border: 1px solid #ece6da;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.newsletter-blogpost {
  margin-bottom: 30px;
  text-align: center; }

/*# sourceMappingURL=layout.css.map */
